{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Create Post</h1>
</div>

<div>
<form method="POST">
{{ post_form.hidden_tag() }}
{{ post_form.title.label }}<br>
{{ post_form.title() }} <br>
{{ post_form.summary.label }}<br>
{{ post_form.summary() }} <br>
{{ post_form.body.label }}<br>
{{ post_form.body() }} <br>
{{ post_form.submit() }}<br>
{{ post_form.cancel() }} <br>

</form>

</div>


{% endblock %}



{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
