{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Create Post</h1>
</div>

<div>
<form method="POST">
{{ post_form.hidden_tag() }}
{{ post_form.title.label }}<br>
{{ post_form.title( class="form-control") }} <br>
{{ post_form.summary.label }}<br>
{{ post_form.summary( class="form-control") }} <br>
{{ post_form.body.label }}<br>
{{ post_form.body( class="form-control-content") }} <br>
{{ post_form.submit(class="btn") }}
{{ post_form.cancel(class="btn") }}

</form>

</div>


{% endblock %}



{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
